*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Raleway', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;}
html{scroll-behavior:smooth;}
a{text-decoration:none;color:#fff;}
@media screen and (max-width:768px){
    main{margin-top:20px;}
    .margin-auto{width:92%;margin:0 auto 20px;}
    .md-sc-gh{margin-bottom:10px;}
    .md-sc-gh i{font-size:23px;margin-bottom:15px;}
    .md-sc-gh a{color:#000;}
    .ms-cd-fg p{font-family:'Inter';font-size:18px;font-weight:600;text-decoration:underline;margin-top:15px;
    text-align:start;line-height:18px;}
    .hf-sn-et-gf{width:92%;margin:30px auto 0;}
    .success-nf-dd{width:60%;margin:0 auto 0;height:199px;background-color:rgba(0, 0, 255, 0.3);border-radius:50%;}
    .success-mark i{display:flex;align-items:center;justify-content:center;height:100%;color:rgba(0, 0, 255, 0.7);font-size:170px;}
    .success-mark{height:100%;}
    .confirm-note{margin-top:10px;}
    .confirm-note p{font-family:'Inter';font-size:32px;font-weight:700;text-align:center;color:rgba(0, 0, 255, 0.7);}
}