*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Raleway', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;}
html{scroll-behavior:smooth;}
a{text-decoration:none;color:#fff;}
@media screen and (max-width:768px){
    main{margin-top:20px;}
    .ms-cd-col-1{width:100%;display:flex;align-items:center;}
    .margin-auto{width:92%;margin:auto;}
    .ms-cd-col-1 .ms-cd-col-1-sd-1{width:60%;}
    .ms-cd-col-1 .ms-cd-col-1-sd-2{width:40%;}
    .ms-cd-col-1 .ms-cd-col-1-sd-1 .ms-cd-date p{font-size:16px;}
    .ms-cd-col-1 .ms-cd-col-1-sd-1 .ms-cd-name p{font-weight:800;font-size:30px;}
    .ms-cd-col-1-sd-2 .ms-cd-img img{max-width:69px;max-height:69px;}
    .ms-cd-col-1-sd-2 .ms-cd-img{display:flex;align-items:center;justify-content:end;}
    .ms-cd-col-2{margin-top:30px;border-radius:15px;box-shadow:0px 0px 4px rgba(0, 0, 0, 0.25);padding-bottom:10px;}
    .ms-cd-col-2-sd-1 img{width:100%;border-radius:15px;}
    .ms-cd-col-2-sd-2-1 p{font-size:21px;font-weight:700;font-family:'Raleway';}
    .ms-cd-col-2-sd-2-1{margin-top:15px;}
    .ms-cd-col-2-sd-2{margin:0 15px;}
    .ms-cd-col-2-sd-2-2 p{font-size:17px;font-weight:400;color:rgba(0,0,0,.5)}
    .ms-cd-col-2-sd-2-2{margin-top:10px;padding-right:15px;}
    .ms-cd-col-2-sd-2-3 input[type="text"]{width:100%;border-radius:10px;padding:12.5px 10px 12.5px 30px;border:1px solid #000;font-family:'Raleway';
    position:relative;font-size:16px;}
    .ms-cd-col-2-sd-2-3{margin-top:15px;}
    .ms-cd-col-2-sd-2-3 .ms-cd-text{position:relative;}
    .ms-cd-col-2-sd-2-3 .fa-magnifying-glass{position:absolute;right:0;left:0;width:fit-content;padding:14px 0 14px 10px}
    .ms-cd-fixed-navbar{width:100%;background-color:#fff;height:80px;position:fixed;bottom:0;box-shadow:0px -1px 11px rgba(0, 0, 0, 0.25);}
    .ms-cd-fixed-navbar-col{display:flex;height:inherit;position:relative;}
    .ms-cd-fixed-navbar-col-row-1,.ms-cd-fixed-navbar-col-row-2,.ms-cd-fixed-navbar-col-row-3{width:33.33%;height:inherit;}
    .ms-cd-fixed-navbar-col-row-1 p,.ms-cd-fixed-navbar-col-row-2 p,.ms-cd-fixed-navbar-col-row-3 p{background-color:#fff;padding:15px;border-radius:50%;}
    .ms-cd-fixed-navbar-col-row-1 p:hover,.ms-cd-fixed-navbar-col-row-2 p:hover,.ms-cd-fixed-navbar-col-row-3 p:hover{background-color:rgba(0, 0, 255, 0.7);box-shadow:0px 0px 4px rgb(0 0 0 / 100%);transition:.5s ease-out;}
    .ms-cd-fixed-navbar-col-row-1 p:hover a,.ms-cd-fixed-navbar-col-row-2 p:hover a,.ms-cd-fixed-navbar-col-row-3 p:hover a{color:#fff;}
    .ms-cd-fixed-navbar-col-row-1 p i,.ms-cd-fixed-navbar-col-row-2 p i,.ms-cd-fixed-navbar-col-row-3 p i{font-size:23px;}
    .ms-cd-fixed-navbar-col-row-1 p a,.ms-cd-fixed-navbar-col-row-2 p a,.ms-cd-fixed-navbar-col-row-3 p a{color:#000;}
    .ms-cd-fixed-navbar-col-row-1,.ms-cd-fixed-navbar-col-row-2,.ms-cd-fixed-navbar-col-row-3{display:flex;align-items:center;justify-content:center;}
    .ms-cd-col-3{display:flex;margin-top:40px;margin-bottom:40px;}
    .ms-cd-col-3 .ms-cd-col-3-sd-1, .ms-cd-col-3 .ms-cd-col-3-sd-2{width:50%;}
    .ms-cd-col-3 .ms-cd-col-3-sd-1 .sd-1-1{width:97%;height:140px;background-color:#fff;margin:auto;margin-left:0;}
    .ms-cd-col-3 .ms-cd-col-3-sd-2 .sd-2-2{width:97%;height:140px;background-color:#fff;margin:auto;margin-right:0;}
    .ms-cd-col-3 .ms-cd-col-3-sd-1 .sd-1-1,.ms-cd-col-3 .ms-cd-col-3-sd-2 .sd-2-2{border-radius:20px;box-shadow:1px 4px 11px rgba(0, 0, 0, 0.25);}
    .ms-cd-col-3 .ms-cd-col-3-sd-1 .sd-1-1 p{font-family:'Inter';font-weight:600;font-size:20px;color:rgba(0, 0, 255, 0.7);}
    .ms-cd-col-3 .ms-cd-col-3-sd-1 .sd-1-1{display: flex;flex-direction:column;justify-content:center;align-items:self-start;padding-left:15px;}
    .ms-cd-col-3 .ms-cd-col-3-sd-2 .sd-2-2 p{font-family:'Inter';font-weight:600;font-size:20px;color:rgba(0, 0, 255, 0.7);margin-top:18px;}
    .ms-cd-col-3 .ms-cd-col-3-sd-2 .sd-2-2{display: flex;flex-direction:column;justify-content:center;align-items:self-start;padding-left:15px;}
    .ms-cd-col-3 .ms-cd-col-3-sd-2 .sd-2-2 i{font-size:40px;padding-top:13px;color:rgba(0, 0, 255, 0.7);}
    .ms-cd-col-4{margin-bottom:150px;}
    .ms-cd-col-4 p{font-family:'Inter';font-weight:600;font-size:23px;text-decoration:underline;}
    .ms-cd-col-4 .col-4{margin-top:20px;}
    .col-4-order-1{display:flex;background-color:#fff;align-items:center;padding:5px 0 5px 20px;margin:0 0 15px;border-radius:20px;}
    .col-4-order-1 .order-1-track-code p{font-family:'Poppins';text-decoration:none;}
    .col-4-order-1 .order-1-track-code p:first-child{color:#FFA500;font-size:23px;}
    .col-4-order-1 .order-1-track-code p:last-child{color:#A52A2A;font-size:18px;}
    .col-4-order-1 .order-1-box i{font-size:40px;}
    .order-1-track-code{padding-left:20px;}
    .col-4-order-2{display:flex;background-color:#fff;align-items:center;padding:5px 0 5px 20px;margin:0 0 15px;border-radius:20px}
    .col-4-order-2 .order-2-track-code p{font-family:'Poppins';text-decoration:none;}
    .col-4-order-2 .order-2-track-code p:first-child{color:#FFA500;font-size:23px;}
    .col-4-order-2 .order-2-track-code p:last-child{color:#A52A2A;font-size:18px;}
    .col-4-order-2 .order-2-box i{font-size:40px;}
    .order-2-track-code{padding-left:20px;}
    .col-4-order-3{display:flex;background-color:#fff;align-items:center;padding:5px 0 5px 20px;margin:0 0 15px;border-radius:20px}
    .col-4-order-3 .order-3-track-code p{font-family:'Poppins';text-decoration:none;}
    .col-4-order-3 .order-3-track-code p:first-child{color:#FFA500;font-size:23px;}
    .col-4-order-3 .order-3-track-code p:last-child{color:#A52A2A;font-size:18px;}
    .col-4-order-3 .order-3-box i{font-size:40px;}
    .order-3-track-code{padding-left:20px;}
    .col-4-order-1:hover,.col-4-order-2:hover,.col-4-order-3:hover{background-color:rgba(0, 0, 255, 0.7);transition:.3s ease-in;}
    .col-4-order-1:hover .order-1-box i,.col-4-order-2:hover .order-2-box i,.col-4-order-3:hover .order-3-box i{color:#fff;}
}