*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Raleway', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;}
html{scroll-behavior:smooth;}
a{text-decoration:none;color:#fff;}
@media screen and (max-width:768px){
    main{margin-top:20px;}
    .margin-auto{width:92%;margin:auto;}
    .md-sc-gh{margin-bottom:10px;}
    .md-sc-gh i{font-size:20px;}
    .md-sc-gh a{color:#000;}
    .ms-cd-fg p{font-family:'Inter';font-size:18px;font-weight:600;text-decoration:underline;
    text-align:end;line-height:18px;}
    .msd-th-rs{width:92%;margin:40px auto 0;}
    .msd-th-rs #fullname{font-family:'Inter';}
    form{margin-bottom:250px;}
    .msd-th-rs #fullname,.msd-th-rs #phonenumber,.msd-th-rs #pickupaddress,.msd-th-rs #dropoffaddress,.msd-th-rs #receivername,.msd-th-rs #emailaddress,.msd-th-rs #receiverphonenumber
    {width:100%;padding:12.5px 0;border-bottom:2px solid #000;border-width:0px 0px 2px 0px;font-size:16px;margin-bottom:20px;font-family:'Inter';}
    .submit-btn{width:100%;background-color:#fff;height:80px;position:fixed;bottom:0;box-shadow:0px -1px 11px rgba(0, 0, 0, 0.25);}
    .submit-btn .btn{text-align:center;display:flex;align-items:center;height:inherit;justify-content:center;width:80%;margin:auto}
    .btn button{width:100%;padding:8px 0;font-weight:700;background-color:rgba(0, 0, 255, 0.7);color:#fff;border:none;border-radius:15px;font-size:25px;font-family:'Poppins';}
    .p-margin p{text-align:center;font-size:18px;color:red;}
    .p-margin{margin-top:15px;}
}